@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;700&display=swap');

/*
green: #6EB125
red: #D01D00
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    position: fixed;
    left:0;
    right:0;
    top:0;
}

body {
    line-height: 1;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100vh;
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 120px;
}

.banner {
    background-color: #000000;
}

.banner__titulo {
    color: #000000;
    font-size: 55px;
    width: 60%;
    line-height: 50px;
    position: absolute;
    top: 40px;
    left: 40px;
}

.banner__imagem {
    width: 7%;
    position: absolute;
    top: 40px;
    right: 40px;
}

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 4rem 0;
}

.map {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 10px #00000050;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 70px;
    margin-right: 70px;
    position: static;
    width: 90%;
}

.map__imagem {
    width: 450px;
    border-radius: 10px 10px 0 0;
}

.map__tag {
    background-color: #D9D9D940;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    left: 310px;
    margin-right: 1.5rem;
    padding: .5rem .5rem;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100px;
}

.map__info {
    font-size: 1.2rem;
    padding: 0 1.5rem 1rem 1.5rem;
}

.map__titulo {
    font-weight: bold;
    line-height: 1.2rem;
    margin-top: 0.8em;
}

.map__texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.map__texto img {
    cursor: pointer;
}

.map__descricao {
    font-size: 0.6em;
    margin-top: 0.8em;
}

.principal {
    display: flex;
    justify-content: space-between;
}

.rodape {
    background-color: #000000;
    width: 100%;
    padding: 1.5rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.rodape__icones {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.rodape__texto {
    font-size: 1.1rem;
}

.btn-primary {
    background-color: #000000; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: none; /* Remover a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Arredonda as bordas do botão */
}

.btn-primary:hover {
    background-color: #3b3b3b; /* Cor de fundo diferente no hover */
}

.cacamba {
    width: 500px;
    height: 100px;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    outline-style: solid;
    outline-color: #000000;
    outline-width: 2px;
    color: #ffffff;
}

.label-cacamba {
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}